{% extends "lab_8/layout/base.html" %}
{% block content %}
<div id="login" >
	<div class="intro">
		<h2>Welcome to Facebook Prototype</h2>
		<button onclick="facebookLogin()">Login with Facebook</button>
	</div>
</div>
{% endblock %}