.row {
  display: flex;
  min-height: 100vh;
}

.row-kiri {
  background: #ea5f4a;
  width: 70%;

  display: flex;
  justify-content: center;
  align-items: center;
}

.row-kanan {
  background-color: #fcb67a;
  width: 30%;
}