{% extends "lab_4/layout/base.html" %}

{% block content %}
<style>
  .BulatMuter{
    border-radius: 50%;
    overflow: hidden;
    transition-duration: 0.8s;
    transition-property: transform;
  }

    .BulatMuter:hover{
      border-radius: 50%;
      animation: spin 1s;
      animation-iteration-count: infinite;
      transform: rotate(360deg);
      -webkit-transform : rotate(360deg);
    }
</style>
<h1 style="background-color:lightblue;">Portofolio</h1>
<img class="BulatMuter" src="http://www2.uol.com.br/guiadolitoral/imgnoticia/conheca-a-historia-por-tras-da-iconica-foto-de-einstein-mostrando-a-lingua-4030-f1.jpg" style="width:150px;height:150px;">

<section name="bio">
    <h2 style="background-color:lightblue;">Bio</h2>
    <p>
        {{content}}
    </p>
</section>

<section name="about_me">
    <h2 style="background-color:lightblue;">List</h2>
    <ul>
        {% for ii in about_me %}
        <li> {{ ii }} </li>
        {% endfor %}
    </ul>
</section>
<section name="form">
    <h2 style="background-color:lightblue;">Send Message</h2>
    <form id="form" method="POST" action="{% url 'lab-4:add_message' %}">
        {% csrf_token %}
        {{ message_form }}
        <br>
        <button type="submit" class="btn btn-default">Submit</button>
    </form>
</section>
{% endblock %}
