{% extends "lab_9/layout/base.html" %}
{% block header %}
<header>
<nav>
    <div class="container-fluid" style="background: grey">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'lab-9:index' %}" style="color: white">Lab 9</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" style="float: right; background-color: red">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a href="{% url 'lab-9:cookie_clear' %}" style="color: white"> Logout </a></li>
      </ul>
    </div><!--/.nav-collapse -->
    </div>
</nav>
</header>
{% endblock %}
{% block content %}
<br>
<div class="panel panel-default">
    <div class="panel-heading">
        <h2> [Cookie] Profile </h2>
    </div>
    <div class="panel-body">
        <p> Username : {{ request.COOKIES.user_login }} </p>
    </div>
    <div class="panel-footer">
        <a href="{% url 'lab-9:cookie_clear' %}" class="btn btn-danger"> Reset Cookies (Logout) </a>
    </div>
</div>
{% endblock %}
