{% extends "lab_10/layout/base.html" %}
{% block header %}
<header>
<nav>
    <div class="container-fluid" style="background: grey">
        <div class="navbar-header">
            <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
            </button>
            <a class="navbar-brand" href="{% url 'lab-10:index' %}" style="color: white">Lab 10</a>
        </div>
        <div id="navbar" class="navbar-collapse collapse">
      <ul class="nav navbar-nav" style="float: right;">
        <!-- LINK MENUJU table, dan link menuju home#form -->
        <li><a href="{% url 'lab-10:movie_list' %}" style="color: white">Movie List</a></li>
        <li><a href="{% url 'lab-10:list_watch_later' %}" style="color: white">Watch Later</a></li>
        <li><a href="{% url 'lab-10:auth_logout' %}" style="color: white; background-color: red;" onclick="return confirm('Keluar?')"> Logout </a></li>
      </ul>
    </div><!--/.nav-collapse -->
    </div>
</nav>
</header>
{% endblock %}

{% block content %}
<br>
<!-- Content Here -->
<section id="data-dashboard">
    <div class="panel panel-default">
        <div class="panel-heading">
            <h2> Dashboard </h2>
        </div>
        <div class="panel-body">
            <p> Username : {{ author }} </p>
            <p> NPM : {{kode_identitas}} </p>
            <p> Role : {{ role }} </p>
            <p>
                <a href="{% url 'lab-10:movie_list' %}" class="btn btn-primary"> Movie List </a> |
                <a href="{% url 'lab-10:list_watch_later' %}" class="btn btn-warning"> Watch Later </a>
            </p>
        </div>
    </div>
</section>
<hr>

{% endblock %}