button#login-button{
    margin-top: 20px;
    margin-left: 20%;
    background-color: #3B5999;
    color: white;
    width: 230px;
    height: 70px;
    font-size: 17px;
}

.cover{
    margin-top: 1%;
    margin-left: 10%;
    height: 500px;
    width: 1000px;
}

.picture{
    margin-top: 50px;
    margin-left: 100px;
    width: 100px;
    border-radius: 50%;
}

.data{
    margin-left: 15%;
    margin-right: 15%;
}

.profile{
    font-weight: 2px;
}

.post{
    width: 75%;
    margin-top: 6%;
    margin-left: 10%;
    line-height: 6.25;
}

.postStatus{
    /*float: right;*/
    margin-top: 5px;
    margin-left: 10%;
}



.feeds{
    margin-left:10%;
    margin-top: 5%;
}

.feed{
  margin:0 auto;
  background-color: #3B5999;
  text-align: center;
  width: 750px;
  height: auto;
  padding-top: 3px;
  padding-bottom: 3px;
  margin-top: 15px;
  text-align: center;
  border: 5px transparent;
}

.feed h1{
	color:white;
}

.feed h2{
	color: white;
}

.p-2{
    margin-top:50px;
    margin-left:15%;
    margin-right:15%;
    height: 200px+50px;
    /*background: #00c6ff; */
    background: #3B5999;
    color: white;
    font-weight: 3px;
    padding-bottom: 20px;
    font-size: 25px;
    word-break: keep-all;
}

.delete{
   opacity: 0;
}

.delete:hover{
    opacity: 1;
}


@media only screen and (max-width:756px){
    .cover{
        margin-top: 1%;
        margin-left: 0;
        height: 275px;
        width: 375px;
    }
}

#postInput{
	width: 500px;
}